<table>
    <thead>
        <tr>
            <th class="_Id hidden" scope="row">Id</th>
            <th class="MainPhoto" scope="row">Foto</th>
            <th class="product" scope="row">Producto</th>
            <th class="product-price" scope="row">Precio</th>
            <th class="quantity" scope="row">Cantidad</th>
            <th class="brand" scope="row">Marca</th>
            <th class="ShortDescription" scope="row">Descripción corta</th>
            <th class="LongDescription" scope="row">Descripción larga</th>
            <th class="FreeShipping" scope="row">Envío sin cargo</th>
            <th class="AgeGroup" scope="row">Edad</th>
            <th class="AgeFrom" scope="row">Edad desde</th>
            <th class="AgeUpTo" scope="row">Edad hasta</th>
        </tr>
    </thead>
    <tbody>
        <td data-product-property="Id" class="hidden" scope="row">{{id}}</td>
        <td data-product-property="image" class="tdImgCont"><img src="/img/products/{{mainPhoto}}" alt="{{name}}"></td>
        <td data-product-property="product" scope="row">{{name}}</td>
        <td data-product-property="product-price" scope="row">{{price}}</td>
        <td data-product-property="quantity" scope="row">{{stock}}</td>
        <td data-product-property="brand" scope="row">{{brand}}</td>
        <td data-product-property="ShortDescription" scope="row">{{shortDescription}}/td>
        <td data-product-property="LongDescription" scope="row">{{longDescription}}</td>
        <td data-product-property="FreeShipping" scope="row">{{freeShipping}}</td>
        <td data-product-property="AgeGroup" scope="row">{{ageGroup}}</td>
        <td data-product-property="AgeFrom" scope="row">{{ageFrom}}</td>
        <td data-product-property="AgeUpTo" scope="row">{{ageUpTo}}</td>
    </tbody>
</table>

    
