<article class="card" data-idNum="{{_id}}">
    <div>
        <div class="card-img-container">
            <img src="{{mainPhoto}}" alt="{{name}}">
        </div>
        <span>{{category}}</span>
        <p class="card-shortDescription">{{shortDescription}}</p>
    </div>
    <div class="card-info">
        <h3 class="card-title">{{brand}} {{name}}</h3>
        <p class="card-description">{{longDescription}}</p>
        <div class="card-price" data-price="{{price}}">$ {{price}},00</div>
    </div>
    <a href="#" class="card-link-add">Agregar al carrito</a>
</article>     



